/* adding css3 to Assignment 2 Portfolio and page 2 for Assignment 3 */

body {
     background-color: #ffffff;
}
header {
     background-color: gainsboro;
     border: 3px solid gray;
     padding: .5em;
     margin: 20px;
}
footer {
  background-color: gainsboro;
  border: 3px solid gray;
  padding: .5em;
  margin: 10px;
}
h1 {
  background-color: #ffffff;
  color: #737373;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
}

h2 {
  background-color: #ffffff;
  color: #660000;
  text-align: left;
  font-family: sans-serif;
  font-size: 25px;
}
nav {
  background-color: gainsboro;
  padding:inherit;
  margin: auto;
}

article {
  background-color: #ffffff;
  padding:inherit;
  margin:auto;
}

p {
  background-color: #ffffff;
  color: black;
  font-family:sans-serif;
  font-size: 15px;
  
}

img {
  text-align: center;
  max-height: 20rem;
  padding: .5em;
  margin: 2em .5em .5em .5em;
}
     
figure {
  text-align: center;
  max-height: 20rem;
  padding: .5em;
  margin: 1em .5em 1em .5em;
  
}

strong {
  background-color: #ffffff;
  color: #660000;
  text-align: left;
  font-size: 15px;
}

.linktext {
  background-color: gainsboro;
  color: orangered;
  font-size: 20px;
  padding: .5em;
  margin: .5em;
}

.copyright {
  background-color: gainsboro;
  color: #737373;
  font-family: fantasy;
  font-size: 20px; 
  
}


